@charset "UTF-8";

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section#cell {
    max-width: 325px;
    min-height: 640px;
    background-image: url(imagens/frame-iphone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    margin: auto;
    margin-top: 70px;
}

iframe {
    display: block;
    margin: auto;
    width: 250px;
    height: 545px;
}