@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
 
header {
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.323);
}

header h1 {
    font-family: 'Passion One';
    padding-top: 50px;
    padding-bottom: 5px;
    font-size: 4.5em;
}

header p {
    padding-bottom: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

main { 
    font-family: 'Sriracha';
}

article.normal {
    background-color: white;
    padding-bottom: 125px;
    padding-top: 50px;
    padding-left: 30px;
}

article.normal p {
    height: 400px;
    width: 400px;
    font-size: 28px;
    line-height: 2em;
    padding-top: 50px;
}

article.img01 {
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 70px;
    padding-left: 30px;
    padding-bottom: 70px;
    box-shadow: 2px 2px 50px 5px inset rgba(0, 0, 0, 0.329);
}

article.img01 > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.474);
    text-align: justify;
    font-size: 1.7em;
    padding: 5px 3px 5px 3px;
    line-height: 2em;
    width: 340px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.581);
}

article.img02 {
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 70px;
    padding-left: 30px;
    padding-bottom: 70px;
    box-shadow: 2px 2px 50px 5px inset rgba(0   0, 0, 0.329);
}

article.img02 > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.474);
    text-align: justify;
    font-size: 1.7em;
    padding: 5px 2px 5px 2px;
    line-height: 2em;
    width: 340px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.581);
}

footer {
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}